<launch>

  <arg name="frame_base"      default="base_footprint"/>
  <arg name="frame_odom"      default="odom"/>
  <arg name="frame_map"       default="map" />

  <arg name="scan_topic"      default="laser/scan"/>

  <node pkg="slam_toolbox" type="lifelong_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find picar_navigation)/param/mapper_params_lifelong.yaml" />
    <param name="scan_topic" value="$(arg scan_topic)"/>
    <remap from="map" to="/map" />
    <remap from="map_metadata" to="/map_metadata" />
  </node>

</launch>