<launch>
  <!-- ARGUMENT -->
  <!--arg name="joy_config" default="ps3_std" /-->
  <!--arg name="joy_config" default="ps3_game" /-->
  <arg name="joy_config" default="fsi6_std" />
  <arg name="joy_dev"    default="/dev/input/js0" />

  <!-- CONFIG -->
  <arg name="teleop_config_filepath"  default="$(find picar_teleop)/config/$(arg joy_config).config.yaml" />
  <arg name="mux_config_filepath"     default="$(find picar_teleop)/config/mulitplexer.yaml" />
  <arg name="diag_config_filepath"    default="$(find ps3joy)/diagnostics.yaml" />

  <!-- TOPICS -->
  <arg name="joy_topic" default="joy" />
  <arg name="joy_vel_topic" default="joy_vel" />
  <arg name="cmd_vel_topic" default="/cmd_vel" />

  <!-- Load config file -->
  <rosparam file="$(arg teleop_config_filepath)" command="load" />

  <!-- Joystic driver node -->
  <node pkg="joy" type="joy_node" name="driver_joy" output="screen" >
    <param name="dev" type="string" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.01" />
    <param name="autorepeat_rate" value="20" />
    <remap from="joy" to="$(arg joy_topic)" />
  </node>

  <!-- Joystic State diag (battery) -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(arg diag_config_filepath)" />
  </node>

  <!-- Convert joy to cmd_vel -->
  <node pkg="joy_teleop" type="joy_teleop.py" name="conv_teleop_joy" >
    <remap from="joy" to="$(arg joy_topic)" />
    <remap from="cmd_vel" to="$(arg joy_vel_topic)" />
  </node>

  <!-- Multiplexer cmd_vel to only one (by priority) -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen" >
    <rosparam file="$(arg mux_config_filepath)" command="load" />
    <remap from="cmd_vel_out" to="$(arg cmd_vel_topic)" />
  </node>

</launch>
