<launch>

  <!-- http://wiki.ros.org/usb_cam -->
  <node pkg="usb_cam" type="usb_cam_node" name="camera" respawn="true">
    <param name="pixel_format" value="yuyv"/>
    <param name="width" value="640"/>
    <param name="height" value="480"/>
    <param name="framerate" value="15"/>
    <param name="camera_frame_id" value="camera"/>
  </node>

  <node pkg="picar_bringup" type="cammotor.py" name="driver_cammotor" respawn="true">

  </node>

</launch>