<?xml version="1.0" ?>
<robot name="picar" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="body_mass" value="$(arg body_mass)"/>
  <xacro:property name="body_width" value="$(arg body_width)"/>
  <xacro:property name="body_length" value="$(arg body_length)"/>
  <xacro:property name="body_height" value="$(arg body_height)"/>
  <xacro:property name="body_offset" value="$(arg body_offset)"/>

  <xacro:property name="wheelbase" value="$(arg wheelbase)"/>

  <xacro:property name="wheel_rear_mass" value="$(arg wheel_rear_mass)"/>
  <xacro:property name="wheel_rear_width" value="$(arg wheel_rear_width)"/>
  <xacro:property name="wheel_rear_radius" value="$(arg wheel_rear_radius)"/>

  <xacro:property name="wheel_front_mass" value="$(arg wheel_front_mass)"/>
  <xacro:property name="wheel_front_width" value="$(arg wheel_front_width)"/>
  <xacro:property name="wheel_front_radius" value="$(arg wheel_front_radius)"/>

  <xacro:property name="ground_clearance" value="$(arg ground_clearance)"/>

</robot>